$container-grey: rgb(246, 246, 246);
$mat-divider: rgba(0, 0, 0, 0.12);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$icon-light-grey: rgb(134, 134, 134);
$document-container: rgb(247,247,247);
$tabs-separator: rgb(220, 220, 220);