<section class="w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="home-container text-center p-5">
        <div class="mb-4">
            <h2>It is a pleasure to meet you here!</h2>
            <h5 class="m-0">My name is Oleksandr, and this is my solution for KOIA's test assignment.</h5>
        </div>
        <div>
            <p class="mb-2">Click the button below in order to create a new meeting</p>
            <a routerLink="meeting"><button mat-raised-button color="primary">New meeting</button></a>
        </div>
    </div>
</section>


